<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>aa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WorkerManager</servlet-name>
    <servlet-class>servlet.WorkerManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerManager</servlet-name>
    <url-pattern>/workerManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeeManager_query</servlet-name>
    <servlet-class>servlet.FeeManager_query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeManager_query</servlet-name>
    <url-pattern>/FeeManager_query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeeManager</servlet-name>
    <servlet-class>servlet.FeeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeManager</servlet-name>
    <url-pattern>/FeeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerManager</servlet-name>
    <servlet-class>servlet.CustomerManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManager</servlet-name>
    <url-pattern>/CustomerManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MachineManager</servlet-name>
    <servlet-class>servlet.MachineManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineManager</servlet-name>
    <url-pattern>/MachineManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForRepairManager_print</servlet-name>
    <servlet-class>servlet.ForRepairManager_print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForRepairManager_print</servlet-name>
    <url-pattern>/ForRepairManager_print</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkerManager_add</servlet-name>
    <servlet-class>servlet.WorkerManager_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerManager_add</servlet-name>
    <url-pattern>/WorkerManager_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairManager_inquire</servlet-name>
    <servlet-class>servlet.RepairManager_inquire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairManager_inquire</servlet-name>
    <url-pattern>/RepairManager_inquire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairManager_add</servlet-name>
    <servlet-class>servlet.RepairManager_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairManager_add</servlet-name>
    <url-pattern>/RepairManager_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerManager_query</servlet-name>
    <servlet-class>servlet.CustomerManager_query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManager_query</servlet-name>
    <url-pattern>/CustomerManager_query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerManager_update</servlet-name>
    <servlet-class>servlet.CustomerManager_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManager_update</servlet-name>
    <url-pattern>/CustomerManager_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForRepairManager</servlet-name>
    <servlet-class>servlet.ForRepairManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForRepairManager</servlet-name>
    <url-pattern>/ForRepairManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForRepairManager_update</servlet-name>
    <servlet-class>servlet.ForRepairManager_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForRepairManager_update</servlet-name>
    <url-pattern>/ForRepairManager_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckSparePartsManager</servlet-name>
    <servlet-class>servlet.CheckSparePartsManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSparePartsManager</servlet-name>
    <url-pattern>/CheckSparePartsManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SparePartOutManager</servlet-name>
    <servlet-class>servlet.SparePartOutManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SparePartOutManager</servlet-name>
    <url-pattern>/SparePartOutManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairManager_update</servlet-name>
    <servlet-class>servlet.RepairManager_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairManager_update</servlet-name>
    <url-pattern>/RepairManager_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairManager_delete</servlet-name>
    <servlet-class>servlet.RepairManager_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairManager_delete</servlet-name>
    <url-pattern>/RepairManager_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForRepairManager_hand</servlet-name>
    <servlet-class>servlet.ForRepairManager_hand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForRepairManager_hand</servlet-name>
    <url-pattern>/ForRepairManager_hand</url-pattern>
  </servlet-mapping>
</web-app>